* {
    padding: 0px;
    margin: 0px;
}

.main-title {
    padding-top: 230px;
    padding-bottom: 40px;
    font-size: 45px;
    font-weight: 700;
    color: #ffffff;
    text-transform: uppercase;
}

body {
    font-family: "Open Sans";
}

.row-title {
    position: relative;
    padding-top: 88px;
    font-size: 25px;
    font-weight: 700;
    color: #ffffff;
    text-transform: uppercase;
}

.row-title2 {
    font-size: 15px;
    font-weight: 400;
    color: #ffffff;
    text-transform: uppercase;
}

.btn {
    display: inline-block;
    font-weight: 700;
    text-align: center;
    text-decoration: none;
    padding: 17px 37px;
    border-radius: 40px;
    margin: 10px 8px;
    text-transform: uppercase;
    box-shadow: 1px 2px 5px rgba(0,0,0,0.5);
    transition: box-shadow 500ms;
    -webkit-transition: box-shadow 500ms ease;
}

.btn:hover {
    box-shadow: 2px 2px 15px 1px rgba(0,0,0,0.5);
}

.button-orange {
    border: 2px solid #fe3e01;
    background-color: #fe3e01;
    -webkit-text-fill-color: white;
}

.button-white {
    background-color: white;
    border: 2px solid white;
    -webkit-text-fill-color: black;
}

.column {
    float: left;
    width: 33.33333333%;
    box-sizing: border-box;
    padding-left: 0;
    padding-right: 0;
}

.b-column {
    padding-top: 90px;
    width: 25%;
}

.column1 {
    text-align: center;
}

.column2 {
    text-align: center;
}

.column3 {
    text-align: center;
}

.item-row {
    box-sizing: border-box;
    display: table;
    width: 100%;
    content: " ";
    padding-right: auto;
    padding-left: auto;
}

.center-image {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.block {
    padding-top: 100px;
    margin-bottom: 20px;
    color: #666666;
    font-family: Merriweather;
    font-style: italic;
}

.block2 {
    padding-top: 40px;
    margin-bottom: 20px;
    color: #666666;
    font-family: Merriweather;
    font-style: italic;
}

.title-block {
    font-size: 44px;
    margin-bottom: 20px;
    font-weight: 600;
    letter-spacing: .02em;
    text-transform: uppercase;

}

.notebook {
    position: absolute;
    margin-top: 150px;
    

}

.decor-block {
    display: inline-block;
    width: 100px;
    height: 2px;
    background-color: #365e99;
    margin-bottom: 100px
}

.decor-block2 {
    display: inline-block;
    height: 2px;
    width: 100px;
    background-color: #ffffff;
    margin-bottom: 40px;
}

.decor-button {
    display: inline-block;
    height: 15px;
    width: 3px;
    background-color: #ffffff
}

.reduce-margin {
    margin-bottom: 70px;
}

.desc {
    display: block;
    box-sizing: border-box;
    margin-top: 20px;
    margin-left: 20px;
    margin-right: 20px;
    color: #666666;
}

.container {
    box-sizing: border-box;
    margin-left: auto;
    margin-right: auto;
    max-width: 940px;
}

.blue {
    background-color:#24487d; 
}

.purple {
    background-color: #4d3699;
}

.white {
    background-color: #f8f8f8;
}

.title {
    color: #ffffff;
    margin-bottom: 10px;
    text-transform: uppercase;
}

.sub-title {
    color: #ffffff;
    margin-bottom: 10px;
    font-size: 80%;
    text-transform: uppercase;
    letter-spacing: 0.5em;
}

.foot-title {
    color: #333333;
    margin-bottom: 40px;
    text-transform: uppercase;
}

.context {
    background-color:#24487d;
    float: right;
}

.c3-column1 {
    float: right;
    font-size: 90%;
    margin-right: 60px;
    margin-top: 140px;
    width: 50%;
}

.c3-column2 {
    position: absolute;
    box-sizing: border-box;
    font: 300 14px/1.71428 Poppins; 
    margin-top: 145px;
    margin-left: 270px;
    font-size: 70%;
    width: 50%;
    color: lightgray;
}

.description {
    box-sizing: border-box;
    font: 300 14px/1.71428 Poppins;
    color: #ffffff;
    margin-bottom: 40px;
}

.tmargin {
    padding-top: 80px;
}

.white-background {
    margin: 50px;
    margin-bottom: 0;
    padding-left: 10px;
    padding-bottom: 500px;
    background-color: #eeeeee;
}

.resize {
    margin-bottom: 0px;
}

.c7-graph {
    margin-top: 7px;
    margin-left: 80px;
    font-size: 20px;
    font-style: normal;
    margin-bottom: 27px;
}

.graph-column2 {
    position: relative;
    float: right;
    width: 50%;
}

.graph-column {
    position: relative;
    float: left;
    width: 50%;
}

.c7-decor {
    background-color: #eeeeee;
    width: 500px;
    height: 6px;
    float: left;
    margin-bottom: 18px;
}

.number {
    font-size: 30px;
    margin-top: 55px;
    margin-left: 20px;
    color: #333333;

}

.rescale {
    width: 120%;
}

.people {
    color: #333333;
    margin-top: 40px;
    text-align: left;
}

.c7-block {
    padding-top: 110px;
    margin-bottom: 20px;
    color: #666666;
    font-family: Merriweather;
    font-style: italic;
}

.c7-text {
    text-align: left;
    display: block;
    color: black;
    box-sizing: border-box;
    font-size: 30px;
    font-weight: 300;
    margin-bottom: 10px;
    text-transform: none;
}

.columns{
    float: left;
    width: 50%;
}

.recolor {
    color: #333333;
    margin-right: 80px;
}

.recolord {
    background-color: #365e99;
}

.btn-column {
    margin: 0;
}

.text-center {
    text-align: center;
}

.text-hover {
    margin-bottom: 10px;
}

.text-hover:hover {
    color:#ffffff;
}

ul {
    list-style-type: none;
    text-align: center;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

ul > li {
    display: inline-block;
    zoom: 1;
    display: inline;
}

li a {
    position: relative;
    display: inline-block;
    text-align: center;
    padding: 16px;
    text-decoration: none;
    margin-right: 10px;
    margin-left: 10px;
    text-transform: uppercase;
    color: #666666;
    font-size: 70%;
    font-weight: 500;
    border-bottom: solid 2px transparent;
}

.current:hover {
    transition: 0.5s;
    border-bottom: solid 2px #24487d;
}

.image-block-list {
    max-width: 940px;
    margin-top: 10px;
    border-bottom: 1px solid #eee;
    margin-bottom: 30px;
}

.thumbnails img {
    border: solid 2px #E8E8E8;
    padding: 15px;
    width: 160px; 
}

.thumbnails:hover img {
    opacity: 0.6;
    transform: scale(0.92);
}

  
.thumbnails:hover img:hover {
    opacity: 1;
    transform: scale(1) rotate(2deg);
    box-shadow: 0 0 7px rgba(0, 0, 0, 0.5);
}

.spacing {
    margin-bottom: 40px;
}

.spacing2 {
    margin-bottom: 50px;
}

.image-list li img {
    position: relative;
    margin: 20px;
    border: solid 2px #365e99;
    padding: 130px;
    background-color: #eee;
    overflow: hidden;
}

.board {
    margin: 0px;
    width: 450px;
    margin-bottom: 25px;
    height: 150px;
    background-color: #eee;
}

a {
    text-decoration: none;
}

.c3-column2 a {
    color: lightgray;
}

.btn-foot {
    position: relative;
    left: 750px;
    bottom: 60px;

}

.imagen {
    background-color: #f8f8f8;
    float: left;
    padding: 40px;
    border: solid 2px #24487d;
}

.c3-column2 a:hover {
    color: white;
}

#modal {
    width: 100%;
    position: fixed;
    display: none;
    top: 0;
    left: 0;
    z-index: 10;
}

#modal .shadow {
    width: 100%;
    height: 100%;
    position: fixed;
    background-color: rgba(0,0,0,0.5);
    top: 0;
    left: 0;
    box-sizing: border-box;
}

#modal .content {
    position: relative;
    max-width: 100%;
    width: 600px;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    margin-top: 32px;
    padding: 16px;
    border-radius: 10px;
    box-sizing: border-box;
    background-color: white;
    z-index: 11;
}

#modal .content .button-wrapper {
    display: inline-block;
    width: 100%;
}

#modal .content .button-wrapper .close {
    display: block;
    float: right;
    width: 30px;
    height: 30px;
    cursor: pointer;
    background: url(../images/baseline-close-24px.svg) top right no-repeat;
    text-align: right;
    outline: none;
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=70);
    opacity: 0.7;
    -webkit-transition: opacity 0.2s;
    -moz-transition: opacity 0.2s;
    -o-transition: opacity 0.2s;
    transition: opacity 0.2s;
}

#modal .content .button-wrapper .close:hover {
    opacity: 1;
}